/*                      */
/* Standard CSS Classes */
/*                      */
body, html {
  width: 100%;
  /*height: 100%*/
  margin: 0;
  overflow-x: hidden;
  opacity: 1;
  transition: 1s opacity;
  /*position: relative;*/
}

::-webkit-scrollbar {
    display: none;
}

.no-select {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
}

hr {
  width: 72%;
  opacity: .6;
  color: white;
  background-color: white;
  height: 1px;
  outline: none;
  padding: none;
  border: none;
}

hr.project-title {
  margin-left: 75px;
  width: 10%;
  opacity: 1;
  background-color: #00909C;
  height: 2px;
  outline: none;
  padding: none;
  border: none;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/*                     */
/* Navigation Menu     */
/*                     */
.nav-menu-wrapper {
  position: fixed;
  top: 1.5%;
  left: 96%;
  overflow: auto;
  z-index: 1;
}

.nav-menu-icon {
  height: 25px;
  width: 30px;
  opacity: 1;
}

.nav-menu-icon:hover {
  opacity: .75;
}

.nav-menu-icon:focus {
  outline: none;
}

.bar-item-close {
  height: 18px;
  width: 18px;
  opacity: .75;
  background-color: #54a3b1;
  outline: none;
  color: white;
  font-size: 20px;
  float: right;
  border: 0px;
  margin: 8px;
}

.bar-item-close:hover {
  opacity: 1;
}

.nav-bio-text-wrapper {
  text-align: left;
  color: #e6e6e6;
  font-size: 13px;
  font-family: 'Lato', sans-serif;
  max-width: 25em;
  margin: 35px;
}

.nav-account-links-wrapper {
  margin: 35px;
}

.nav-account-link-icon {
  height: 25px;
  width: 25px;
  opacity: .75;
  color: none;
  border: 0px;
}

.mail-icon {
  height: 2%;
  width: 2.5%;
  padding-bottom: 20px;
}

.mail-icon-about {
  position: relative;
  bottom: -20px;
  height: 20%;
  width: 2.5%;
}

.mail-icon:hover {
  opacity: .7;
}

.mail-icon-about:hover {
  opacity: .7;
}

.nav-account-link-icon:hover {
  opacity: 1;
}

.nav-account-link-icon:focus {
  outline: none;
}

.bar-item-active .bar-item-active:before {
  color: white !important;
}

.bar-item-active:before .bar-item-active:hover {
  color: #54a3b1 !important;
  background-color: white !important;
}

/*                     */
/* Footer/Headers      */
/*                     */
.footer-copyright {
  background-image: url("Assets/footer-background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding-top: 95px;
  padding-bottom: 40px;
  color: white;
  font-size: 17px;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
}

.footer-copyright-about {
  background-image: url("Assets/footer-background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;   /* Height of the footer */
  color: white;
  font-size: 17px;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
}

.copyright-text-about {
  position: relative;
  bottom: -25px;
}

.header-logo-wrapper {
  position: fixed;
  top: 1%;
  left: 1%;
  overflow: auto;
  z-index: 1;
}

.header-logo-image {
  height: 40px;
  width: 40px;
}

.full-spin {
  -webkit-animation: spin 2s ease;
  -moz-animation: spin 2s ease;
  animation: spin 2s ease;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform:rotate(360deg);
  }
}

/*                     */
/* About               */
/*                     */
.profile-image-wrapper {
  position: absolute;
  left: 5%;
  top: 18%;
}

.profile-image {
  width: 36%;
  border-radius: 50%;
}

#resume-wrapper .icon-image-text {
  visibility: hidden;
  color: white;
  text-align: center;
  margin-top: -135px;
  margin-left: -262px;
  font-size: 25px;
  font-weight: 500;
  font-family: serif;
  max-width: 1125px;
  letter-spacing: 1px;
  font-family: 'Open Sans', sans-serif;
}

#resume-wrapper:hover .icon-image-text {
  visibility: visible;
}

#resume-wrapper:hover .resume-icon {
  opacity: .25;
}

#timeline-wrapper .icon-image-text {
  visibility: hidden;
  color: white;
  text-align: center;
  margin-top: -135px;
  margin-left: -200px;
  font-size: 25px;
  font-weight: 500;
  font-family: serif;
  max-width: 1125px;
  letter-spacing: 1px;
  font-family: 'Open Sans', sans-serif;
}

#timeline-wrapper:hover .icon-image-text {
  visibility: visible;
}

#timeline-wrapper:hover .timeline-icon {
  opacity: .25;
}

#aboutme-wrapper .icon-image-text {
  visibility: hidden;
  color: white;
  text-align: center;
  margin-top: -135px;
  margin-left: -225px;
  font-size: 25px;
  font-weight: 500;
  font-family: serif;
  max-width: 1125px;
  letter-spacing: 1px;
  font-family: 'Open Sans', sans-serif;
}

#aboutme-wrapper:hover .icon-image-text {
  visibility: visible;
}

#aboutme-wrapper:hover .aboutme-icon {
  opacity: .25;
}

.resume-wrapper {
  position: absolute;
  left: 15%;
  top: 42%;
}

.resume-icon {
  position: relative;
  width: 40%;
  height: 40%;
}

.timeline-wrapper {
  position: absolute;
  left: 45%;
  top: 42%;
}

.timeline-icon {
  position: relative;
  width: 40%;
  height: 40%;
}

.aboutme-wrapper {
  position: absolute;
  left: 72%;
  top: 42%;
}

.aboutme-icon {
  position: relative;
  width: 42%;
  height: 42%;
}

.timeline-nodes-wrapper {
  position: absolute;
  left: 5%;
  top: 32%;
}

.timeline-nodes-image {
  position: relative;
  width: 90%;
  height: 90%;
}

.tnode {
  width: 5%;
}

#tnode-00 .tnode {
  position: absolute;
  left: 4.5%;
  top: 50%;
}

#tnode-00:hover .tnode {
  animation-name: pulse;
  /* content/color change works for chrome only */
  /* content: url("Assets/project-nav-selection-icon-selected.png"); */
}

#tnode-01 .tnode {
  position: absolute;
  left: 19.65%;
  top: 50%;
}

#tnode-01:hover .tnode {
  animation-name: pulse;
}

#tnode-02 .tnode {
  position: absolute;
  left: 33%;
  top: 72.5%;
}

#tnode-02:hover .tnode {
  animation-name: pulse;
}

#tnode-03 .tnode {
  position: absolute;
  left: 47.5%;
  top: 62%;
}

#tnode-03:hover .tnode {
  animation-name: pulse;
}

#tnode-04 .tnode {
  position: absolute;
  left: 52.15%;
  top: 17.5%;
}

#tnode-04:hover .tnode {
  animation-name: pulse;
}

#tnode-05 .tnode {
  position: absolute;
  left: 67%;
  top: 17%;
}

#tnode-05:hover .tnode {
  animation-name: pulse;
}

#tnode-06 .tnode {
  position: absolute;
  left: 81.75%;
  top: 28%;
}

#tnode-06:hover .tnode {
  animation-name: pulse;
}

#tnode-00 .tnode00-year-text {
  position: absolute;
  visibility: hidden;
  color: white;
  text-align: center;
  top: 65.5%;
  left: 5.3%;
  font-size: 1.50vw;
  font-weight: 700;
  font-family: serif;
  font-family: 'Open Sans', sans-serif;
}

#tnode-00:hover .tnode00-year-text {
  visibility: visible;
}

#tnode-01 .tnode01-year-text {
  position: absolute;
  visibility: hidden;
  color: white;
  text-align: center;
  top: 65.5%;
  left: 20.25%;
  font-size: 1.50vw;
  font-weight: 700;
  font-family: serif;
  font-family: 'Open Sans', sans-serif;
}

#tnode-01:hover .tnode01-year-text {
  visibility: visible;
}

#tnode-02 .tnode02-year-text {
  position: absolute;
  visibility: hidden;
  color: white;
  text-align: center;
  top: 88.4%;
  left: 33.65%;
  font-size: 1.50vw;
  font-weight: 700;
  font-family: serif;
  font-family: 'Open Sans', sans-serif;
}

#tnode-02:hover .tnode02-year-text {
  visibility: visible;
}

#tnode-03 .tnode03-year-text {
  position: absolute;
  visibility: hidden;
  color: white;
  text-align: center;
  top: 77.75%;
  left: 48.25%;
  font-size: 1.50vw;
  font-weight: 700;
  font-family: serif;
  font-family: 'Open Sans', sans-serif;
}

#tnode-03:hover .tnode03-year-text {
  visibility: visible;
}

#tnode-04 .tnode04-year-text {
  position: absolute;
  visibility: hidden;
  color: white;
  text-align: center;
  top: 10.7%;
  left: 52.75%;
  font-size: 1.50vw;
  font-weight: 700;
  font-family: serif;
  font-family: 'Open Sans', sans-serif;
}

#tnode-04:hover .tnode04-year-text {
  visibility: visible;
}

#tnode-05 .tnode05-year-text {
  position: absolute;
  visibility: hidden;
  color: white;
  text-align: center;
  top: 10.25%;
  left: 67.75%;
  font-size: 1.50vw;
  font-weight: 700;
  font-family: serif;
  font-family: 'Open Sans', sans-serif;
}

#tnode-05:hover .tnode05-year-text {
  visibility: visible;
}

#tnode-06 .tnode06-year-text {
  position: absolute;
  visibility: hidden;
  color: white;
  text-align: center;
  top: 21%;
  left: 81.5%;
  font-size: 1.50vw;
  font-weight: 700;
  font-family: serif;
  font-family: 'Open Sans', sans-serif;
}

#tnode-06:hover .tnode06-year-text {
  visibility: visible;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

/*                     */
/* Project Information */
/*                     */
.project-listing-wrapper {
  left: 19%;
  top: 20%;
}

.project-icon {
  opacity: 1;
  width: 50px;
  height: 50px;
  /*display: inline-block;*/
  margin-left: 65px;
}

.project-icon:hover {
  opacity: 1;
}

.project-icon-image:focus {
  outline: none;
}

.project-icon-image {
  max-width: 100%;
  max-height: 100%;
  outline-width: 1px;
  border-color: black;
  border-radius: 16px;
}

#_title {
  padding-top: 50px;
  height: 850px;
  color: #fff;
  background-color: none;
}

#nova {
  padding-top: 50px;
  height: 1000px;
  color: #fff;
  background-color: #1B1B1B;
}

#pattern {
  padding-top: 50px;
  height: 1000px;
  color: #fff;
  background-color: #1B1B1B;
}

#nutrition-vision {
  padding-top: 50px;
  height: 1000px;
  color: #fff;
  background-color: #1B1B1B;
}

#drothfeld-cloud-portfolio {
  padding-top: 50px;
  height: 1000px;
  color: #fff;
  background-color: #1B1B1B;
}

#munch {
  padding-top: 50px;
  height: 1000px;
  color: #fff;
  background-color: #1B1B1B;
}

.scroll-down-arrows {
  display: absolute;
  margin-top: 790px;
}

.scroll-arrow {
  display: inline;
  margin-left: 435px;
}

.scroll-arrow-image {
  height: 50px;
  width: 60px;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animated.infinite {
  animation-iteration-count: infinite;
}

.animated.hinge {
  animation-duration: 2s;
}

@keyframes bounce {
  from, 20%, 53%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -15px, 0);
  }

  70% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -7.5px, 0);
  }

  90% {
    transform: translate3d(0,-2px,0);
  }
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  animation-name: pulse;
}

.bounce {
  animation-name: bounce;
  transform-origin: center bottom;
}

.project-title {
  position: relative;
  color: #F2F2F2;
  font-size: 30px;
  font-weight: bold;
  margin-left: 115px;
  top: -375px;
  font-family: 'Lato', sans-serif;
}

.project-description {
  color: #B8B8B8;
  margin-top: 25px;
  font-size: 17px;
  font-weight: 300;
  font-family: serif;
  max-width: 1125px;
  letter-spacing: 1px;
  font-family: 'Open Sans', sans-serif;
}

.technology-list {
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  margin-left: -40px;
  margin-top: 20px;
  margin-bottom: 100px;
}

.technology-used {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #333333;
  color: #6D6D6D;
  border-radius: 4px;
  font-size: 10px;
  vertical-align: middle;
  letter-spacing: 1px;
  line-height: 30px;
  text-align: center;
  display: inline;
}

.project-live {
  left: 79%;
  position: absolute;
  border: 2px solid #32cd32;
  background-color: #1B1B1B;
  color: #32cd32;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  height: 40px;
  width: 6%;
  border-radius: 4px;
  letter-spacing: 4px;
  display: inline;
}

.project-demo {
  left: 72%;
  position: absolute;
  border: 2px solid #4d4dff;
  background-color: #1B1B1B;
  color: #4d4dff;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  height: 40px;
  width: 6%;
  border-radius: 4px;
  letter-spacing: 4px;
  display: inline;
}

.project-code {
  left: 79%;
  position: absolute;
  border: 2px solid #FD1C03;
  background-color: #1B1B1B;
  color: #FD1C03;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  height: 40px;
  width: 6%;
  border-radius: 4px;
  letter-spacing: 4px;
  display: inline;
}

.project-live:hover {
  background-color: #32cd32;
  color: white;
}

.project-demo:hover {
  background-color: #4d4dff;
  color: white;
}

.project-code:hover {
  background-color: #FD1C03;
  color: white;
}

.project-live:focus {
  outline: none;
}

.project-demo:focus {
  outline: none;
}

.project-code:focus {
  outline: none;
}

.project-screenshots-pc {
  position: relative;
  margin-left: 90px;
  margin-top: 35px;
}

.pc-img-lg {
  margin-left: 30px;
  position: relative;
  height: 60%;
  width: 60%;
  z-index: 0;
}

.pc-img-md {
  position: relative;
  margin-left: 110px;
  height: 50%;
  width: 50%;
  z-index: 1;
  top: -400px;
  left: 380px;
  box-shadow: 0px 0px 2px 2px #1B1B1B;
}

.pc-img-col-small {
  position: relative;
  height: 10.20%;
  width: 10.20%;
  left: 180px;
  z-index: 1;
}

.project-screenshots-mobile {
  position: relative;
  margin-left: 55px;
  margin-top: -25px;
  margin-bottom: 350px;
}

.mobile-img-layer00 {
  position: relative;
  display: inline;
  height: 25%;
  width: 25%;
}

.mobile-img-layer01 {
  position: relative;
  display: inline;
  margin-left: 100px;
  height: 25%;
  width: 25%;
}

.mobile-img-layer02 {
  position: relative;
  display: inline;
  margin-left: 100px;
  height: 25%;
  width: 25%;
}

/*                        */
/* Project Navigation Bar */
/*                        */
.project-nav {
  position: fixed;
  /*left: 93.5%;
  top: 25%;*/
  margin-left: 93.5%;
  margin-top: 20%;
  z-index: 1;
}

.project-nav-section {
  height: 25px;
  width: 25px;
  opacity: 1;
}

.project-nav-section:focus {
  outline: none;
}

#project-nova-li-wrapper .project-nav-text {
  position: absolute;
  visibility: hidden;
  color: white;
  margin-left: -70%;
  margin-top: 2px;
  font-size: 14px;
  font-weight: 500;
  font-family: serif;
  max-width: 1125px;
  letter-spacing: 1px;
  font-family: 'Open Sans', sans-serif;
}

#project-nova-li-wrapper:hover .project-nav-text {
  visibility: visible;
}

#project-nova-li-wrapper:hover .project-nav-section {
  opacity: .5;
}

#project-pattern-li-wrapper .project-nav-text {
  position: absolute;
  visibility: hidden;
  color: white;
  margin-left: -95%;
  margin-top: 2px;
  font-size: 14px;
  font-weight: 500;
  font-family: serif;
  max-width: 1125px;
  letter-spacing: 1px;
  font-family: 'Open Sans', sans-serif;
}

#project-pattern-li-wrapper:hover .project-nav-text {
  visibility: visible;
}

#project-pattern-li-wrapper:hover .project-nav-section {
  opacity: .5;
}

#project-nv-li-wrapper .project-nav-text {
  position: absolute;
  visibility: hidden;
  color: white;
  margin-left: -115%;
  margin-top: -10px;
  font-size: 14px;
  font-weight: 500;
  font-family: serif;
  max-width: 1125px;
  letter-spacing: 1px;
  font-family: 'Open Sans', sans-serif;
}

#project-nv-li-wrapper:hover .project-nav-text {
  visibility: visible;
}

#project-nv-li-wrapper:hover .project-nav-section {
  opacity: .5;
}

#project-cloud-li-wrapper .project-nav-text {
  position: absolute;
  visibility: hidden;
  color: white;
  margin-left: -115%;
  margin-top: -10px;
  font-size: 14px;
  font-weight: 500;
  font-family: serif;
  max-width: 1125px;
  letter-spacing: 1px;
  font-family: 'Open Sans', sans-serif;
}

#project-cloud-li-wrapper:hover .project-nav-text {
  visibility: visible;
}

#project-cloud-li-wrapper:hover .project-nav-section {
  opacity: .5;
}

#project-munch-li-wrapper .project-nav-text {
  position: absolute;
  visibility: hidden;
  color: white;
  margin-top: 2px;
  margin-left: -90%;
  font-size: 14px;
  font-weight: 500;
  font-family: serif;
  max-width: 1125px;
  letter-spacing: 1px;
  font-family: 'Open Sans', sans-serif;
}

#project-munch-li-wrapper:hover .project-nav-text {
  visibility: visible;
}

#project-munch-li-wrapper:hover .project-nav-section {
  opacity: .5;
}

/*                     */
/*        Text         */
/*                     */
.bio-text-wrapper {
  position: absolute;
  text-align: center;
  top: 38%;
  left: 27%;
  right: 27%;
  color: white;
  font-size: 28px;
  font-family: 'Lato', sans-serif;
  max-width: 25em;
}

.project-page-title {
  position: absolute;
  text-align: center;
  top: 38%;
  left: 27%;
  color: white;
  font-size: 28px;
  font-family: 'Lato', sans-serif;
  max-width: 25em;
}

.about-page-title {
  position: absolute;
  text-align: center;
  top: 20%;
  left: 27%;
  color: white;
  font-size: 28px;
  font-family: 'Lato', sans-serif;
  max-width: 25em;
}

/*                     */
/* Projects Images     */
/*                     */
.background-image-page {
  background-image: url("Assets/page-background.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-separator {
  position: fixed;
  top: 5%;
}

.section-separator-white-line {
  height: 2px;
  width: 100%;
  opacity: .35;
}

/*                     */
/* Landing Page Images */
/*                     */
.background-image {
  background-image: url("Assets/landing-page.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.cloud-image-wrapper {
  position: relative;
  left: 10%;
  top: 10%;
}

.cloud-image {
  height: 8%;
  width: 8%;
}

.cloud-image-cluster {
  height: 50%;
  width: 50%;
}

.cloud-image-big {
  height: 20%;
  width: 20%;
}

/*                      */
/* Landing Page Buttons */
/*                      */
.landing-button-wrapper {
  text-align: center;
}

.landing-button {
  position: absolute;
  top: 50%;
  left: 42%;
  /* Safari Support */
  -webkit-transition-duration: 0.5s;
  /* Chrome Support */
  transition-duration: 0.5s;
  background-color: white;
  border: none;
  border-radius: 32px;
  color: #58a6b6;
  padding: 15px 70px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}

.landing-button:hover {
  background-color: #58a6b6;
  color: white;
}

.landing-button:focus {
  outline: none;
}

/*                   */
/* W3.CSS Stylesheet */
/*                   */
.w3-button {
  border: none;
  display: inline-block;
  outline: 0;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}

.w3-button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.w3-sidebar {
  height: 100%;
  width: 200px;
  background-color: #54a3b1;
  position: fixed !important;
  z-index: 1;
  overflow: auto;
  opacity: .85;
}

.w3-bar-block .w3-dropdown-hover,.w3-bar-block .w3-dropdown-click {
  width: 100%;
  float: right;
}

.w3-bar-block .w3-dropdown-hover .w3-dropdown-content,.w3-bar-block .w3-dropdown-click .w3-dropdown-content {
  min-width: 100%;
}

.w3-bar-block .w3-dropdown-hover .w3-button,.w3-bar-block .w3-dropdown-click .w3-button {
  width: 100%;
  text-align: left;
  padding: 8px 16px;
}

.w3-main,#main {
  transition: margin-right .4s;
}

.w3-bar {
  width: 100%;
  overflow: hidden;
}

.w3-center .w3-bar {
  display: inline-block;
  width: auto;
}

.w3-bar .w3-bar-item {
  padding: 8px 16px;
  float: right;
  width: auto;
  border: none;
  outline: none;
  display: block;
}

.w3-bar .w3-dropdown-hover,.w3-bar .w3-dropdown-click {
  position: static;
  float: right;
}

.w3-bar .w3-button{
  white-space: normal;
}

.w3-bar-block .w3-bar-item {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: white;
  width: 100%;
  display: block;
  padding: 14px 35px;
  text-align: left;
  border: none;
  outline: none;
  white-space: normal;
  float: none;
}

.w3-bar-block.w3-center .w3-bar-item {
  text-align: center;
}

.w3-block {
  display: block;
  width: 100%;
}

.w3-main {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.w3-animate-left {
  position: relative;
  animation: animateleft 1.5s;
}

@keyframes animateleft {
  from {
    left: -1000px;
    opacity: 0
  } to {
    left: 0;
    opacity: 1;
    }
}

.w3-animate-right {
  position: relative;
  animation: animateright 0.4s;
}

@keyframes animateright {
  from {
    right: -300px;
    opacity: 0;
  } to {
    right: 0;
    opacity: 1;
    }
}

.w3-animate-bottom {
  position: relative;
  animation: animatebottom 1.20s;
}

@keyframes animatebottom {
  from {
    bottom: -300px;
    opacity: 0;
  } to {
    bottom: 0;
    opacity: 1;
    }
}

@keyframes slideInDown {
  from {
    transform: translate3d(0, -250%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInDown {
  animation-name: slideInDown;
}

@keyframes slideInLeft {
  from {
    transform: translate3d(-250%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInLeft {
  animation-name: slideInLeft;
}

@keyframes slideInRight {
  from {
    transform: translate3d(250%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInRight {
  animation-name: slideInRight;
}


.w3-animate-right-speed0 {
  position: relative;
  animation: animateright 0.5s;
}

.w3-animate-right-speed1 {
  position: relative;
  animation: animateright 0.8s;
}

.w3-animate-right-speed2 {
  position: relative;
  animation: animateright 1.1s;
}

.w3-animate-right-speed3 {
  position: relative;
  animation: animateright 1.4s;
}

.w3-animate-right-speed4 {
  position: relative;
  animation: animateright 1.7s;
}

.w3-right {
  float: right !important;
}

.w3-button:hover {
  color: #54a3b1 !important;
  background-color: white !important;
}
