/*                      */
/* Standard CSS Classes */
/*                      */
body, html {
  width: 100%;
  /*height: 100%*/
  margin: 0;
  overflow-x: hidden;
  opacity: 1;
  transition: 1s opacity;
  /*position: relative;*/
}

::-webkit-scrollbar {
    display: none;
}

.no-select {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
}

hr {
  width: 72%;
  opacity: .6;
  color: white;
  background-color: white;
  height: 1px;
  outline: none;
  padding: none;
  border: none;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/*                     */
/* Navigation Menu     */
/*                     */
.nav-menu-wrapper {
  position: fixed;
  top: 1.5%;
  left: 96%;
  overflow: auto;
  z-index: 1;
}

.nav-menu-icon {
  height: 25px;
  width: 30px;
  opacity: 1;
}

.nav-menu-icon:hover {
  opacity: .75;
}

.nav-menu-icon:focus {
  outline: none;
}

.bar-item-close {
  height: 18px;
  width: 18px;
  opacity: .75;
  background-color: #54a3b1;
  outline: none;
  color: white;
  font-size: 20px;
  float: right;
  border: 0px;
  margin: 8px;
}

.bar-item-close:hover {
  opacity: 1;
}

.nav-bio-text-wrapper {
  text-align: left;
  color: #e6e6e6;
  font-size: 13px;
  font-family: 'Lato', sans-serif;
  max-width: 25em;
  margin: 35px;
}

.nav-account-links-wrapper {
  margin: 35px;
}

.nav-account-link-icon {
  height: 25px;
  width: 25px;
  opacity: .75;
  color: none;
  border: 0px;
}

.nav-account-link-icon:hover {
  opacity: 1;
}

.nav-account-link-icon:focus {
  outline: none;
}

.bar-item-active .bar-item-active:before {
  color: white !important;
}

.bar-item-active:before .bar-item-active:hover {
  color: #54a3b1 !important;
  background-color: white !important;
}

/*                     */
/* Footer/Headers      */
/*                     */
.footer-copyright {
  position: fixed;
  bottom: .5%;
  left: .5%;
  font-size: 10px;
  font-weight: lighter;
  color: white;
  opacity: .7;
}

.header-logo-wrapper {
  position: fixed;
  top: 1%;
  left: 1%;
  overflow: auto;
  z-index: 1;
}

.header-logo-image {
  height: 40px;
  width: 40px;
}

.full-spin {
  -webkit-animation: spin 2s ease;
  -moz-animation: spin 2s ease;
  animation: spin 2s ease;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform:rotate(360deg);
  }
}

/*                     */
/* Project Information */
/*                     */
.project-listing-wrapper {
  left: 19%;
  top: 20%;
}

.project-icon {
  opacity: .75;
  width: 200px;
  height: 200px;
  /*display: inline-block;*/
  margin-left: 65px;
  margin-top: 30px;
}

.project-icon:hover {
  opacity: 1;
}

.project-icon-image:focus {
  outline: none;
}

.project-icon-image {
  max-width: 100%;
  max-height: 100%;
  outline-width: 1px;
  border-color: black;
  border-radius: 16px;
}

#_title {
  padding-top: 50px;
  height: 800px;
  color: #fff;
  background-color: none;
}

#nova {
  padding-top: 50px;
  height: 450px;
  color: #fff;
  background-color: #1E88E5;
}

#pattern {
  padding-top: 50px;
  height: 450px;
  color: #fff;
  background-color: #673ab7;
}

#nutrition-vision {
  padding-top: 50px;
  height: 450px;
  color: #fff;
  background-color: #ff9800;
}

#drothfeld-cloud-portfolio {
  padding-top: 50px;
  height: 450px;
  color: #fff;
  background-color: #00bcd4;
}

.scroll-down-arrows {
  display: absolute;
  margin-top: 730px;
}

.scroll-arrow {
  display: inline;
  margin-left: 435px;
}

.scroll-arrow-image {
  height: 50px;
  width: 60px;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animated.infinite {
  animation-iteration-count: infinite;
}

.animated.hinge {
  animation-duration: 2s;
}

@keyframes bounce {
  from, 20%, 53%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -15px, 0);
  }

  70% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -7.5px, 0);
  }

  90% {
    transform: translate3d(0,-2px,0);
  }
}

.bounce {
  animation-name: bounce;
  transform-origin: center bottom;
}

/*                        */
/* Project Navigation Bar */
/*                        */
.project-nav {
  position: fixed;
  /*left: 93.5%;
  top: 25%;*/
  margin-left: 93.5%;
  margin-top: 18%;
  z-index: 1;
}

.project-nav-section {
  margin-top: 50px;
  height: 25px;
  width: 25px;
  opacity: 1;
}

.project-nav-section:hover {
  margin-top: 50px;
  height: 25px;
  width: 25px;
  opacity: .8;
}

.project-nav-section:focus {
  outline: none;
}
/*                     */
/*        Text         */
/*                     */
.bio-text-wrapper {
  position: absolute;
  text-align: center;
  top: 38%;
  left: 27%;
  color: white;
  font-size: 28px;
  font-family: 'Lato', sans-serif;
  max-width: 25em;
}

.project-page-title {
  position: absolute;
  text-align: center;
  top: 38%;
  left: 27%;
  color: white;
  font-size: 28px;
  font-family: 'Lato', sans-serif;
  max-width: 25em;
}

/*                     */
/* Projects Images     */
/*                     */
.background-image-page {
  background-image: url("Assets/page-background.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-separator {
  position: fixed;
  top: 5%;
}

.section-separator-white-line {
  height: 2px;
  width: 100%;
  opacity: .35;
}

/*                     */
/* Landing Page Images */
/*                     */
.background-image {
  background-image: url("Assets/landing-page.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.cloud-image-wrapper {
  position: relative;
  left: 10%;
  top: 10%;
}

.cloud-image {
  height: 8%;
  width: 8%;
}

.cloud-image-cluster {
  height: 50%;
  width: 50%;
}

.cloud-image-big {
  height: 20%;
  width: 20%;
}

/*                      */
/* Landing Page Buttons */
/*                      */
.landing-button-wrapper {
  text-align: center;
}

.landing-button {
  position: absolute;
  top: 50%;
  left: 42.5%;
  /* Safari Support */
  -webkit-transition-duration: 0.5s;
  /* Chrome Support */
  transition-duration: 0.5s;
  background-color: white;
  border: none;
  border-radius: 32px;
  color: #58a6b6;
  padding: 15px 70px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}

.landing-button:hover {
  background-color: #58a6b6;
  color: white;
}

.landing-button:focus {
  outline: none;
}

/*                   */
/* W3.CSS Stylesheet */
/*                   */
.w3-button {
  border: none;
  display: inline-block;
  outline: 0;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}

.w3-button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.w3-sidebar {
  height: 100%;
  width: 200px;
  background-color: #54a3b1;
  position: fixed !important;
  z-index: 1;
  overflow: auto;
  opacity: .85;
}

.w3-bar-block .w3-dropdown-hover,.w3-bar-block .w3-dropdown-click {
  width: 100%;
  float: right;
}

.w3-bar-block .w3-dropdown-hover .w3-dropdown-content,.w3-bar-block .w3-dropdown-click .w3-dropdown-content {
  min-width: 100%;
}

.w3-bar-block .w3-dropdown-hover .w3-button,.w3-bar-block .w3-dropdown-click .w3-button {
  width: 100%;
  text-align: left;
  padding: 8px 16px;
}

.w3-main,#main {
  transition: margin-right .4s;
}

.w3-bar {
  width: 100%;
  overflow: hidden;
}

.w3-center .w3-bar {
  display: inline-block;
  width: auto;
}

.w3-bar .w3-bar-item {
  padding: 8px 16px;
  float: right;
  width: auto;
  border: none;
  outline: none;
  display: block;
}

.w3-bar .w3-dropdown-hover,.w3-bar .w3-dropdown-click {
  position: static;
  float: right;
}

.w3-bar .w3-button{
  white-space: normal;
}

.w3-bar-block .w3-bar-item {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: white;
  width: 100%;
  display: block;
  padding: 14px 35px;
  text-align: left;
  border: none;
  outline: none;
  white-space: normal;
  float: none;
}

.w3-bar-block.w3-center .w3-bar-item {
  text-align: center;
}

.w3-block {
  display: block;
  width: 100%;
}

.w3-main {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.w3-animate-left {
  position: relative;
  animation: animateleft 1.5s;
}

@keyframes animateleft {
  from {
    left: -1000px;
    opacity: 0
  } to {
    left: 0;
    opacity: 1;
    }
}

.w3-animate-right {
  position: relative;
  animation: animateright 0.4s;
}

@keyframes animateright {
  from {
    right: -300px;
    opacity: 0;
  } to {
    right: 0;
    opacity: 1;
    }
}

.w3-animate-bottom {
  position: relative;
  animation: animatebottom 1.20s;
}

@keyframes animatebottom {
  from {
    bottom: -300px;
    opacity: 0;
  } to {
    bottom: 0;
    opacity: 1;
    }
}

.w3-animate-right-speed0 {
  position: relative;
  animation: animateright 0.5s;
}

.w3-animate-right-speed1 {
  position: relative;
  animation: animateright 0.8s;
}

.w3-animate-right-speed2 {
  position: relative;
  animation: animateright 1.1s;
}

.w3-animate-right-speed3 {
  position: relative;
  animation: animateright 1.4s;
}

.w3-right {
  float: right !important;
}

.w3-button:hover {
  color: #54a3b1 !important;
  background-color: white !important;
}
