body, html {
    height: 100%;
    margin: 0;
}

.background-image {
    background-image: url("landing-page.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.landing-button-wrapper {
  text-align: center;
}

.landing-button {
  position: absolute;
  top: 50%;

  background-color: white;
  border: none;
  border-radius: 8px;
  color: #58a6b6;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
